.featured_flower {
    text-align: center;
}

.featured_flower>h3 {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 24px;
}

.featured_flower>p {
    color: rgba(39, 39, 39, 0.60);

    padding: 0px 400px 48px 400px;
    font-size: 14px;
}


.photo_block {
    margin: 0 200px 50px 200px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: end;
    justify-content: space-between;

}

.photo_block>img {
    background-color: brown;

}

/* -------------------------------------------------------------------- */

.small_icon_sec {
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 200px 200px 128px 200px;
    justify-content: center;
    justify-content: space-evenly;
    padding: 50px;

}

.small_icon_sec>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.80);
}