.featured_flower {
    text-align: center;
}

.featured_flower>h3 {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 24px;
}

.featured_flower>p {
    color: rgba(39, 39, 39, 0.60);

    padding: 0px 400px 48px 400px;
    font-size: 14px;
}


.photo_block {
    margin: 0 200px 50px 200px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: end;
    justify-content: space-between;

}

.photo_block>img {
    background-color: brown;

}

/* -------------------------------------------------------------------- */

.small_icon_sec {
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 200px 200px 128px 200px;
    justify-content: center;
    justify-content: space-evenly;
    padding: 50px;

}

.small_icon_sec>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.80);
}


/* -----------------------------Signup section--------------------------------------------- */

.sign_up_section {
    background: rgba(229, 84, 115, 0.05);
    margin-bottom: 128px;
    display: flex;
}

.sign_up_left-side {

    padding: 140px 80px 100px 200px;
}

.sign_up_left-side>h3 {
    color: #272727;
    font-size: 37px;
    font-weight: 800;
    margin-bottom: 24px;
    text-align: center;
}

.sign_up_left-side>div {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.sign_up_left-side>p {
    text-align: center;
    margin-bottom: 20px;
    color: rgba(39, 39, 39, 0.60);
}



.sign_up_right-side {
    margin: 50px 0 0 50px;
}

/* ---------------------------------------------------------------------------------------------------- */

.instagram {
    text-align: center;
}

.instagram>h3 {
    color: #272727;
    font-weight: 900;
    margin-bottom: 10px;
    font-size: 30px;
}

.instagram>p {
    color: rgba(39, 39, 39, 0.60);
    margin-bottom: 30px;
}


.photo_section {

    display: flex;
    justify-content: center;
    margin: 0 200px 128px 200px;
    gap: 20px;
}

.photo_section>img {
    width: 265px;
    height: 320px;
}

/* ----------------------------------------------------------------------------------------------- */

.subscribe_section {
    padding: 90px 0px 150px 0px;
    margin: 0 200px 128px 200px;
    border-radius: 8px;

    text-align: center;
    background-image: url(/Flower/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.subscribe_section>h2 {
    font-weight: 800;
    margin-bottom: 16px;
    font-size: 35px;
    letter-spacing: 1px;
}

.subscribe_section>p {
    color: rgba(39, 39, 39, 0.60);
    margin-bottom: 16px;
}

.subscribe {
    margin: 20px 230px 0 230px;
    display: flex;
    justify-content: space-between;
}

.email_input {
    border-radius: 8px;
    width: 480px;
    border: 0;
}